:root {
  --text-blue: #293264;
  --text-white: #f5f7fb;
  --accent-dark: #4d5b9e;
  --accent-light: #d6dbf5;
  --seperator-color: #dbdef0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-blue);
}

body {
  font-family: "Karla", sans-serif;
}

.App {
  position: relative;
}

.app-container {
  /* position: absolute;  */
  position: relative;
  background-image: url(./assets/white_wall_hash.webp);
  z-index: 0;
  margin: 0 auto;
  margin-top: 5vh;
  max-width: 650px;
  border: 1px solid var(--accent-dark);
  padding: 1rem;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.blobs-blue,
.blobs-yellow {
  display: block;
  position: absolute;
  height: 40%;
  z-index: -1;
}

.blobs-yellow {
  top: 0;
  right: 0;
  transform: translate(50%, -30%);
}

.blobs-blue {
  top: 100%;
  left: 0;
  transform: translate(-50%, -30%);
}

.buttons-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.result-summary {
  /* align-self: center; */
  margin-right: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15px;
}

.result-score {
  color: green;
}

.credits {
  margin-left: -30px;
  font-size: 0.6rem;
}

button {
  cursor: pointer;
}
